@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-bg: #F6FFFB;
  --color-light-stroke: #D7D7D7;
  --color-light-bg-alt: #F9FEFC;
  --color-light-red: #FF6666;
  --color-light-font: #000000;
  --color-light-gray: #949997;
  --color-light-alt: #F9FEFC;
  --color-light-alt-gray: #282828;
  --color-light-alt2: #232523;
  --color-light-alt3: #EFF6F3;
  /* Dark */
  --color-bg: #2D302E;
  --color-stroke: #393939;
  --color-bg-alt: #1B1D1C;
  --color-red: #FFB1B1;
  --color-font: #F6FFFB;
  --color-gray: #7F8380;
  --color-alt: #000000;
  --color-alt-gray: #D9D9D9;
  --color-alt2: #000000;
  --color-alt3: #323533;
}

* {
  scroll-behavior: smooth;
}

.bar::-webkit-scrollbar{
  display: none;
}

.link {
  @apply capitalize p-3 rounded-2xl px-7 max-md:pl-3 text-font not-dark:text-light-font max-md:text-sm max-sm:text-xs max-md:rounded-xl max-sm:rounded-lg font-light cursor-pointer;
}