@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light */
  --color-light-bg: #F6FFFB;
  --color-light-stroke: #D7D7D7;
  --color-light-bg-alt: #F9FEFC;
  --color-light-red: #FF6666;
  --color-light-font: #000000;
  --color-light-gray: #949997;
  --color-light-alt: #F9FEFC;
  --color-light-alt-gray: #282828;
  --color-light-font-alt: #2D302E;
  --color-light-alt2: #232523;
  --color-light-alt3: #EFF6F3;
  --color-light-alt4: #EFF6F3;
  --color-light-alt5: #2D302E;
  --color-light-footer: #DFE5E2;
  /* Dark */
  --color-bg: #2D302E;
  --color-stroke: #393939;
  --color-bg-alt: #1B1D1C;
  --color-font-alt: #B7BEBB;
  --color-red: #FFB1B1;
  --color-font: #F6FFFB;
  --color-gray: #7F8380;
  --color-alt: #000000;
  --color-alt-gray: #D9D9D9;
  --color-alt2: #000000;
  --color-alt3: #323533;
  --color-alt4: #262927;
  --color-alt5: #2D302E;
  --color-footer: #EDEEED;
}

* {
  scroll-behavior: smooth;
}

.bar::-webkit-scrollbar{
  display: none;
}

.input {
  @apply border max-md:text-sm placeholder:text-gray max-sm:text-xs border-stroke not-dark:border-light-stroke p-4 max-md:p-3 font-light rounded-2xl max-md:rounded-xl max-sm:rounded-lg outline-0 focus:border-white/20 not-dark:focus:border-black/30;
}

.link {
  @apply capitalize p-3 rounded-2xl px-7 max-md:pl-3 text-font not-dark:text-light-font max-md:text-sm max-sm:text-xs max-md:rounded-xl max-sm:rounded-lg font-light cursor-pointer;
}

.skill {
  @apply text-font max-md:text-sm max-sm:text-xs w-max not-dark:text-light-font rounded-2xl max-md:rounded-xl max-sm:rounded-lg border border-stroke not-dark:border-light-stroke px-4 bg-alt4 not-dark:bg-light-alt4 p-3 max-md:p-2 max-md:px-3 max-sm:p-1.5 max-sm:px-2 flex items-center gap-2;
}

.animation {
  animation: move 3s ease-in-out infinite;
  box-shadow: 0px 0px 20px #FFB1B120;
}

.animationTwo {
  animation: move 3s ease-in-out infinite;
  animation-delay: .3s;
  box-shadow: 0px 0px 20px #FFB1B120;
}

.animationThree {
  animation: move 3s ease-in-out infinite;
  animation-delay: .5s;
  box-shadow: 0px 0px 20px #FFB1B120;
}

.animationFour {
  animation: move 3s ease-in-out infinite;
  animation-delay: .2s;
  box-shadow: 0px 0px 20px #FFB1B120;
}

@keyframes move {
  0% {
    transform: translateY(-5px);
  } 50% {
    transform: translateY(5px);
  } 100% {
    transform: translateY(-5px);
  }
}